:root {
	--primary: #EA40A4;
	--pink: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.create-task input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
  border: none;
}


.create-task input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: var(--primary);
	border-radius: 0.5rem;
	box-shadow: var(--personal-glow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
  border: none
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.task-item { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: space-between;
  gap: 1rem;
  background-color: #FFF;
  padding: 15px;
  position: relative;
}

.task-title { 
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: center;
  width: 95%;
}

.toggle { 
  font-size: 1.2rem;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  outline:none;
  border: none;
  border-radius: 100%;
  padding: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.toggle:hover { 
  background-color: green;
}


.delete:hover {
	opacity: 0.75;
}

.delete {
	background-color: var(--danger);
  cursor: pointer;
  display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
  outline:none;
  border: none;
}

.completed { 
  text-decoration: line-through;
  color: var(--grey);
}
